
        
    </main>

    <footer>
        <p>Copyright © James McNamee <%= new Date().getFullYear(); %></p>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="script.js" charset="utf-8"></script>
</body>
</html>