<div id="newtask-modal" class="modal">
    <div class="modal-content">
        <img class="exit-modal" src="/images/cross-circle.png" alt="Exit new task"/>
        <h3>Enter task:</h3>
        <form action="/addTask" method="POST">
            <input type="text" name="task">
        </form>
    </div>
</div>