body {
  background-color: slategray;
}

#main-grid {
  background-color: lightslategray;
  border-style: dotted;

}

#topnav {
  background-color: lightslategray;
}

#sidebar {
  background-color: lightslategray;
}

#tasklist-container {
  border-radius: 50px;
  background-color: slateblue;
}

.task-container {
  border-style: dashed;
  border-width: 1px;
}

.task-text {
  border-style: dotted;
  border-width: 1px;
}